* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: relative;
  border-bottom: 0.0625rem solid rgba(235, 235, 240, 0.2);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: rgb(41, 45, 51);
  height: 4.5rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}

.header {
  padding: 5.875rem 5rem 0 5rem;
}

.header-image {
  background-image: url(../img/main_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 60.625rem;
}

.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  border-right: 0.0625rem solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0 3.125rem;
  margin: 0;
  position: relative;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 2%;
}

.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}

.header-nav-link:after {
  content: "";
  width: 0px;
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffff;
  background: #5c8ee5;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
}

.button:hover {
  background: #3a71d1;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}

.separator {
  background: rgb(92, 142, 230);
  width: 9.375rem;
  height: 0.125rem;
  height: 0.15rem;
}

.header-content {
  padding: 9.3125rem 0rem 5rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 62.5rem;
  font-family: "Bebas Neue Book";
  font-size: 4.75rem;
  margin: 1.5rem 1.5625rem 0 0;
  line-height: 125%;
  letter-spacing: 0.0938rem;
}

.header-text {
  max-width: 40.625rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 380;
  line-height: 160%;
  margin-top: 2.5rem;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  list-style: none;
  color: #fff;
  min-height: 10.5rem;
  margin-top: 2rem;
  padding: 0;
  z-index: 2;
}

.header-features-item {
  width: auto;
  min-height: 100%;
  padding: 1.875rem 3.5rem;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
  border-right: 0.0625rem solid rgba(235, 235, 240, 0.2);
}

.header-features-item:last-child use {
  fill: #5c8ee6 !important;
}

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  padding: 1.125rem 0 0 0;
  line-height: 160%;
}

.section {
  margin-top: 7.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  font-family: "Bebas Neue Book";
  color: rgb(41, 45, 51);
  font-size: 3rem;
  line-height: 120%;
  position: relative;
  margin-bottom: 2.5rem;
  margin-top: 1.625rem;
  font-weight: 600;
}

.section-title::before {
  display: block;
  width: 4.375rem;
  height: 0.125rem;
  background-color: #5c8ee6;
  margin-bottom: 0.9375rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0rem;
  justify-content: space-between;
}

.steps-item {
  max-width: 18.75rem;
}

.steps-num {
  margin-top: 0.625rem;
  font-weight: 500;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  font-family: "Bebas Neue Book";
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: #ebebf0;
  width: 100%;
  margin-left: 2.1875rem;
}

.steps-title {
  color: rgb(41, 45, 51);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.steps-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.button-link::before {
  content: "";
  height: 0.0625rem;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.button-link:hover::before {
  width: 60px;
}

.steps-buttons {
  display: none;
}

.primary-buttons-wrapper {
  height: 60px;
  justify-content: flex-end;
  display: flex;
}

.primary-button-prev,
.primary-button-next {
  background: #5c8ee6;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border: 1px solid #5c8ee6;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}

.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
}

.card-image {
  max-width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  width: 90%;
}

.trademark-cards {
  display: flex;
}

.trademark-card {
  flex-basis: 50%;
  border: 1px solid #ebebf0;
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 3.125rem;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.trademark-card-logo {
  grid-area: logo;
  fill: #828a99;
  width: 100%;
  align-self: center;
}
.trademark-card-title {
  font-weight: 400;
  margin: 0;

  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  grid-area: title;
}
.trademark-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  grid-area: text;
  margin-top: -20px;
}
.trademark-card:hover {
  border-color: #5c8ee6;
}

.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}

.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}

.mobile-menu-toggle.burger-gray .mobile-menu-line {
  background-color: #828a99;
}

.founder {
  min-height: 33.5rem;
  position: relative;
  margin-bottom: 0;
}
.founder-photo {
  position: absolute;
  left: 0;
  width: 43%;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.founder-content {
  min-width: 45rem;
  margin-right: 3rem;
  padding-top: 3rem;
}
.founder-content-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: calc(43% + 5rem);
  height: 41.25rem;
  padding-top: 0;
}

.founder-content .section-title {
  margin-bottom: 1rem;
}

.founder-text {
  font-weight: 400;
  font-style: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 1.5rem;
}

.clients-wrapper {
  padding-top: 1.25rem;
  display: flex;
  gap: 3.125rem;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.clients-content {
  flex-basis: 50%;
}

.clients-content .section-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-style: 1rem;
  line-height: 160%;
  color: #292d33;
  padding-top: 1.25rem;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
}

.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 15rem;
  height: 10rem;
}

.clients-logo-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.2s ease;
}

.clients-logo-item img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.clients-logo {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: end;
}

.blog-card {
  position: relative;

  display: flex;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  justify-content: flex-end;

  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.blog-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: 0.625rem;
  margin-top: 0;
}
.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.blog-card-content {
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 3.125rem;
}

/* .blog-card-content {
  margin-top: auto;
} */

.bg-grey {
  background: #f0f2f5;
}
.section-cta {
  position: relative;
  padding-top: 6.25rem;
  margin-top: 9.375rem;
  padding-bottom: 6.25rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 45rem;
  max-width: 752px;
  width: 40%;
  top: -78px;
}
.section-title, .cta-form-title {
  font-size: 3.75rem;
  margin: 0;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 12.125rem;
}
.cta-form {
  min-width: 52.5rem;
}
.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin-top: 1.375rem;
  margin-bottom: 2.75rem;
  max-width: 40rem;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group {
  position: relative;
  height: 66px;
  background-color: #f0f2f5;
  width: 405px;
}
.input {
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: transparent;
}



.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 160%; */
  color: #828a99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 10px;
}

.cta-form-footer {
  display: flex;
  margin-top: 1.75rem;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1rem;
}
.cta-form-button {
  flex-shrink: 0;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  min-width: 23.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #828a99;
  margin: 0;
}

.footer-top {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
}

.footer-info {
  display: flex;
  align-items: center;
  font-style: normal;
  text-decoration: none;
  color: #292d33;
  gap: 10px;
}

.footer-info-address {
  font-style: inherit;
}

.foooter-info-address,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}

.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  color: #292d33;
  text-decoration-line: underline;
}

.footer-social-link {
  text-decoration: none;
}

.footer-separator {
  color: #ebebf0;
  background-color: #ebebf0;
  height: 1px;
  border: none;
}

.footer-bottom {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  max-width: 1400px;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
}

.footer-menu-list {
  padding-left: 1.25rem;
  margin: 0;
  list-style: none;
}

.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 50rem;
}

.footer-menu-link {
  text-decoration: none;
  color: #828a99;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0.9375rem;
  display: block;
}

.footer-bottom {
  display: flex;
}

.footer-menu-link-bold {
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.875rem;
}

.footer-menu-wrapper:last-child {
  margin-left: 5rem;
}

.footer-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-style: normal;
  color: #828a99;
}

.footer-wrapper,
.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.footer-copyright,
.footer-policy {
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
}

.footer-menu-wrapper:nth-child(2) .footer-menu-list,
.footer-menu-wrapper:nth-child(3) .footer-menu-list {
  columns: 1;
  min-width: auto;
}

.footer-menu-wrapper:nth-child(3) .footer-menu-list {
  white-space: nowrap;
}

.mobile-info-email {
  text-decoration: none;
  color: #292d33;
}

.modal-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
  z-index: 10;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out, visibility 0s 0s;
}

.modal {
  background: white;
  padding: 40px 50px;
  max-width: 460px;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal-overlay.active .modal {
  transform: translateY(0);
  opacity: 1;
}

.modal-overlay.closing {
  opacity: 0;
}

.modal-overlay.closing .modal {
  transform: translateY(-50px);
  opacity: 0;
}

.modal-title {
  font-size: 48px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Bebas Neue Book";
  font-weight: 900;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
  color: #828A99;
  margin-bottom: 30px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  color: #000;
}

.custom-input-group {
  position: relative;
  height: 66px;
  background-color: #fff;
  margin-bottom: 30px;
  
}

.custom-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: transparent;
  font-size: 16px;
  box-sizing: border-box;
}

.custom-input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}

.custom-input-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.875rem;
  font-weight: 400;
  font-size: 16px;
  color: #828a99;
  transition: top 0.2s, font-size 0.2s;
  pointer-events: none;
}

.custom-input:focus ~ .custom-input-label,
.custom-input:not(:placeholder-shown) ~ .custom-input-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: white;
  padding: 0 10px;
}

.custom-button {
  background-color: #5c8ee6;
  color: white;
  padding: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.custom-button:hover {
  background-color: #5477cf;
}

.modal-note {
  font-size: 12px;
  color: #828a99;
  margin-top: 24px;
  text-align: center;
  
}

div.notify:nth-child(5) > p:nth-child(2) {
  margin-top: 0;
  font-size: 12px;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBF0;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


/* Медиа-запросы */
@media (max-width: 2050px) {
  .section-cta {
    padding-top: 2.3rem;
    padding-bottom: 6rem;
    margin-top: 6rem;
  }

  .cta-image {
    min-width: auto;
    width: 70%;
    max-width: 600px;
    top: -62px;
    left: 0;
  }

  .cta-form-wrapper {
    padding-right: 11rem;
    max-height: 326px;
  }
}

@media (max-width: 1890px) {
  .cta-form-wrapper {
    padding-right: 7rem;
  }
}

@media (max-width: 1810px) {
  .cta-form-wrapper {
    padding-right: 4rem;
  }
}

@media (max-width: 1710px) {
  .cta-form-wrapper {
    padding-right: 2rem;
  }
}

@media (max-width: 1700px) {
  html {
    font-size: 0.875rem;
  }

  .cta-image {
    max-width: 580px;
  }
}

@media (max-width: 1620px) {
  .cta-image {
    display: none;
  }
  .cta-form-wrapper {
    justify-content: center;
  }
}

@media (max-width: 1480px) {
  .cta-form-wrapper {
    padding-right: 4rem;

  }

  .bg-grey.section-cta {
    padding-top: 5rem;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    min-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }

  .cta-image {
    /* min-width: auto;
    width: 70%; */

    /* top: -62px; */
    /* left: 0; */
  }
}

@media (max-width: 1324px) {
  .header-nav {
    justify-content: space-between;
  }

  .header-nav-item,
  .header-phone {
    align-items: center;
    vertical-align: middle;
  }
  .header-phone {
    display: none;
  }
}

@media (max-width: 1270px) {
  .section-cta {
    padding-top: 1rem;
    padding-bottom: 6rem;
    margin-top: 6rem;
  }
}

@media (max-width: 1200px) {
  .cta-form-button {
    margin-bottom: 2rem;
  }

  .cta-form-wrapper {
    /* padding-right: 11rem; */
    max-height: 450px;
  }

  .input-group-wrapper {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0.5rem;
  }

  .input-group {
    width: 100%;
  }

  .cta-form-footer {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    padding: 0 0.5rem;
  }

  .cta-form-button {
    width: 100%;
  }

  .notify {
    flex-direction: row;
    align-items: flex-start;
  }

  .notify-text {
    margin-top: 0.5rem;
  }

  .founder-content-wrapper {
    margin-left: calc(43% + 1rem);
  }

  .trademark-card {
    grid-template-columns: auto auto;
  }

  .header-features-item:first-child {
    margin-left: 2rem;
  }

  .header-features-item {
    display: flex;
    width: 250px;
    height: 140px;
    flex-grow: 0;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
  }
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.8rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .swiper-wrapper .swiper-slide:nth-child(4) {
    border-right: 2px solid rgba(235, 235, 240, 0.2);
  }
  .swiper-wrapper .swiper-slide:nth-child(5) {
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .card {
    flex-basis: 50%;
  }
  .slider-buttons {
    display: flex;
    display: block;
    position: relative;
    margin-top: 0.5rem;
    height: 44px;
  }
  .slider-button-prev,
  .slider-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 50%;

    height: 52px;
    border: none;
    background: none;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.0625rem solid rgba(235, 235, 240, 0.2);
    z-index: 5;
  }
  .slider-button-prev svg,
  .slider-button-next svg {
    width: 34px;
    height: 24px;
    margin: 0;
  }
  .slider-button-prev {
    left: 0;
  }
  .slider-button-next {
    right: 0;
  }
  .steps-slider {
    overflow: hidden;
    width: 100%;
  }

  .header-features-item {
    display: flex !important;
    flex-direction: column;
    width: 250px;
    height: 140px;
    flex-grow: 0;
  }
  .header-features {
    margin-bottom: -24px;
    padding-bottom: 20px;
  }
  .founder-content {
    max-width: 35rem;
  }

  .clients-content {
    flex-basis: 60%;
  }

  .clinets .container {
    /* margin: 1rem; */
  }
  .clients-logo {
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(4, 10rem);
  }

  .clients-logo-item:nth-child(9) {
    display: none;
  }

  .primary-buttons-wrapper {
    height: 40px;
  }

  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }
  .cta-image {
    display: none;
  }
  .cta-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .footer-logo {
    width: 8.5rem;
    height: 3.75rem;
  }

  .footer-phone {
    font-size: 1.45rem;
  }
}

@media (max-width: 1140px) {
  .founder-photo {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .founder-content-wrapper {
    display: block;
    margin: 0 auto;
    padding: 2rem 1rem;
    height: auto;
  }

  .founder-content {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (max-width: 1068px) {
  .header-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-nav-item {
    margin-right: 0.5rem;
  }
  .header-nav-link {
    font-size: 0.9rem;
  }
  .header-nav {
    padding: 0 2.125rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1, 5rem;
  }
}

@media (max-width: 1026px) {
  .header-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-nav-item {
    margin-right: 1rem;
  }
  .header-nav-link {
    font-size: 0.9rem;
  }
  .header-nav-item,
  .header-phone {
    align-items: center;
  }
  .navbar-button.button {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 1009px) {
  .header-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-nav-item {
    margin-right: 0.75rem;
  }
  .header-nav-item {
    align-items: center;
  }
}

@media (max-width: 995px) {
  .footer-top {
    gap: 2rem;
    white-space: nowrap;
    justify-content: space-between;
  }

  .footer .container {
    margin: 0 2rem;
    width: 100%;
    min-width: 95%;
  }

  .cta-from-title {
    font-size: 2rem;
  }

  .cta-form-text {
    font-size: 1.2rem;
  }

  .cta-form-button {
    flex-shrink: 1;
    width: 100%;
  }

  .cta-form {
    padding: 0 10px;
  }

  .input-group {
    flex-shrink: 1;
    font-size: 12px;
  }

  .input-group-label {
    font-size: 12px;
  }

  .notify-text {
    font-size: 10px;
  }

  .input-group-wrapper {
    gap: 1rem;
  }

  .notify-text {
    min-width: auto;
  }

  .trademark-cards {
    flex-direction: column;
  }

  .phone-icon {
    fill: #fff !important;
  }
  .mobile-menu.is-open ~ .container .header-features,
  .mobile-menu.is-open {
    display: none;
  }
  .container {
    max-width: 60rem;
  }
  html {
    font-size: 12px;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    max-width: 10rem;
  }
  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-submenu-item {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 2rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-style: 14px;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    margin-top: 1px;
    transform: rotate(45deg) translateY(7px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    margin-bottom: 1px;
    transform: rotate(-45deg) translateY(-7px);
  }
  .close-menu .mobile-menu-line {
    background-color: #292d33;
  }
  .steps-buttons {
    display: flex;
  }

  .clients-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .clients-logo {
    grid-template-columns: repeat(3, 15rem);
    grid-template-rows: repeat(3, 10rem);
  }

  .clients-logo-item:nth-child(9) {
    display: flex;
  }

  .input-group-wrapper,
  container {
    margin: 0;
    padding: 0;
  }

  .cta-form-footer {
    padding: 0;
  }

  .cta-form {
    padding: 16px;
    max-width: 100%;
    box-sizing: border-box;
    min-width: 0;
  }

  .footer-menu-column-2 {
    min-width: 8.5rem;
  }

  

}
/* 995 */

@media (max-width: 860px) {
  .footer-logo {
    transform: scale(1.7);
    margin: 15px 35px;
  }

  .footer-phone {
    font-size: 30px;
  }

  .footer-bottom {
    font-size: 16px;
  }

  .footer-bottom a {
    font-size: 16px;
  }

  .footer-bottom h2 {
    font-size: 16px;
  }

  .footer-top,
  .footer-bottom,
  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .footer-info,
  .footer-social,
  .footer-menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-menu-list {
    padding-left: 15px;
    margin: 0;
    
  }

  .footer-menu-wrapper {
    margin-bottom: 20px;
  }

  .footer-separator {
    width: 100%;
    max-width: auto;
    margin: 10px auto;
  }

  .footer-copyright,
  .footer-policy {
    text-align: left;
  }

  .footer-author {
    margin-top: 10px;
    text-align: left;
  }

  .footer-social {
    flex-direction: row;
    gap: 10px;
  }

  .footer-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  .footer-contact span {
    white-space: nowrap;
  }

  .footer-legal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .footer-menu-wrapper:nth-child(1),
  .footer-menu-wrapper:nth-child(2) {
    padding-left: 15px;
  }

  .footer-menu-wrapper:last-child {
    margin-left: 0;

  }

  .footer-wrapper {
    gap: 5px;
  }

  .footer-bottom {
   padding-bottom: 0; 
  }

  .footer-info-address,
  .mobile-info-email {
    white-space: nowrap;
    font-size: 16px;
    text-decoration: none;
  }

  .footer-info {
    flex-direction: row;
  }

  .footer-wrapper {
    font-size: 14px;
  }

  .footer-policy {
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .notify-text {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
    min-width: 0;
  }

  .founder-photo {
    margin: 0;
    padding: 0;
    padding: 0;
  }

  .founder-content-wrapper {
    margin: 0;
    padding: 0;
  }

  .founder .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .founder-content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0;
  }

  .founder-photo {
    margin-bottom: 0;
  }

  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-features-text {
    font-size: 1.2rem;
    max-width: 250px;
  }

  .logo-svg {
    width: auto;
    height: 3rem;
    max-height: 3rem;
  }
  .steps-item {
    width: 100%;
    max-width: none;
  }
  .card {
    flex-basis: 100%;
  }
  .section {
    /* margin-top: 20px; */
    margin-bottom: 40px;
    /* padding: 0 16px; */
  }

  .header {
    padding: 88px 0px 0;
  }

  .header-content {
    padding: 0px 0 32px;
  }

  .separator {
    margin-top: 3rem;
  }

  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .founder-content {
    min-width: 0;
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
    padding: 0 0.5rem;
  }
}
@media (max-width: 700px) {
}

@media (max-width: 568px) {
  .bg-grey.section-cta {

  }
  .cta-form-title {
    font-size: 3rem;
  }

  .trademark-card {
    grid-template-areas:
      "logo title"
      "text text";
  }

  .trademark-card-logo {
    width: 80px;
    height: 90px;
  }

  .clients-list {
    columns: 1;
  }

  .trademark-card-text {
    margin-bottom: 0px;
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .header-features-item {
    display: flex !important;
    flex-direction: column;
    width: 250px;
    height: 140px;
    flex-grow: 0;
  }

  .container {
    max-width: 90%;
    padding: 0;
  }
  .header-text {
    font-size: 1.3rem;
  }

  .header-button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 1.6rem 2.8rem;
  }

  .header-features-item {
    max-width: 280px !important;
  }

  .trademark-card-text {
    margin-bottom: 0px;
    font-size: 1.2rem;
    margin-bottom: -10px;
  }

  .card-title {
    font-size: 1.7rem;
    font-weight: 400;
  }

  .steps-text {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .clients-logo-item {
    flex-basis: 50%;
  }

  .clients-logo {
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(4, 10rem);
  }

  .clients-logo-item:nth-child(9) {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .swiper.features-slider,
  .slider-buttons {
    margin-left: -5rem;
    margin-right: -5rem;
  }
}
